#map {
  display: flex;
  height: 100vh;
  width: '100vh';
  margin: auto;
}
#work {
  background: rgba(3, 240, 3, 0.76);
}
#actualMapContainer {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  align-items: center;
}
