#work {
  background: rgba(2, 129, 2, 1);
  height: 120vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
#topMenu {
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
#loadingPage {
  background: rgba(2, 129, 2, 1);
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
