#forms {
  display: flex;
  height: 94vh;
  max-width: 50.5%;
  width: 50rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
}
