#map {
  /* display: flex; */
  background-color: dodgerblue;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
map {
  background-color: dodgerblue;
  /* justify-content: center; */
}
#work {
  background-color: dodgerblue;
}
